@use "../vendors/font";

$bg-red: #ee202e;
$color-white: #fff;
$color-black: #121212;
$font-family-1: "Poppins";
$font-family-2: "BioRhyme";
$hover-color: #ffcc40;
$button-color: #780a34;
$menu-bar-color: #FEBE10;